
.main {
    padding: width 70%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header,
h2 {
    text-align: center;
    color: #666;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    gap: 15px;
}

.phone-inputs {
    display: flex;
    gap: 5px;
}

.phone-inputs input {
    width: 30%;
}

.form__label--required {
    color: red;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8b7e75;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
}

.submit-btn:hover {
    background-color: #776b63;
}